<div class="container-aboutme" id="about-me">
  <div class="container-text">
    <h2>About me</h2>
    <span>
      Hi, I am a Junior Front-end developer based in Lippstadt, Germany, with
      experience in building web apps using JavaScript & Angular. You are
      welcome to visit my public portfolio, which includes responsive websites,
      business apps and games. My profile is rounded out by 15 years+ of work
      experience prior to joining the IT sector and by intercultural skills and
      knowledge in several foreign languages, including French, Italian and
      Spanish.
    </span>
    <div>
      <img
        data-aos="flip-up"
        data-aos-duration="1500"
        src="./assets/img/light.png"
        alt=""
      />
      <span data-aos="flip-up" data-aos-duration="1500">
        After an academic training in business informatics, I soon wanted to
        focus on a hands-on training to becoming a developer. An app where I
        wrote my first lines of code got me started and I quickly realized how
        much fun I had with it. In order to strengthen my skills and to launch a
        professional career as a frontend developer, I joined the Developer
        Akademie in 2022.
      </span>
    </div>

    <div>
      <img
        data-aos="flip-up"
        data-aos-duration="1500"
        src="./assets/img/puzzle.png"
        alt=""
      />
      <span data-aos="flip-up" data-aos-duration="1500">
        There I was able to quickly enhance my knowledge in several individual
        and group projects. I received regular feedback from the coaches on my
        projects and my code. Now I am looking for an oppurtunity to prove my
        newly acquired skills as a frontend developer.
      </span>
    </div>
  </div>

  <div class="container-foto">
    <img class="photo2" src="./assets/img/profil2.png" alt="" />
    <img class="line" src="./assets/img/LINE7.png" alt="" />
  </div>
</div>
